



.slider-container {
    width: 100%;
    height: 800px;
    /* position: relative; */
    overflow: hidden;
}


.slider-box {
    height: 100%;
    transition: all 1s;
    position: relative;
}

.slider-image {
    float: left;
    height: 100%;
    background: yellow;
}

.slider-seqBtnBox {
    position: absolute;
    background: transparent;
    width: 60px;
    height: 800px;
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPosition{ 
    left: 0px;
}

.rightPosition {
    right: 0px;
}


.slider-seqBtn {
    width: 100%;
    height: 60px;
    background: #eee;
}



.slider-directBtnBox{
    position: absolute;
    bottom: 25%;
    z-index: 20;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; */
}


.slider-directBtn{
    height: 5px;
    width: 60px;
    display: inline-block;
    margin:  0 5px;
    background: #eee;
    cursor: pointer;
}
.directBtn-select {
    background: gray;
}