

.nav-wrap {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 40px;
    background: rgba(0,0,0,0.2);
    z-index:11;
    color:white;
    display: flex;
    transition: all 1s;
}
.nav-logoBox {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;

}
.nav-catgBox {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-catg{
    min-width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    color: silver;    
    position: relative;
    cursor: pointer;
    text-decoration: none;
}



.nav-catgText {
    color: silver;
    text-decoration: none;
}

.nav-catg:hover .nav-catgText {
    color:  white;
}
.nav-catg:hover .nav-dropdown{
  display: block;
}

.nav-dropdown:hover {
    color: white;
}




.nav-dropdownBox {
    width: 100%;
    position: absolute;
    top :100%;
}
.nav-dropdown {
    max-width: 100%;
    background: rgba(0,0,0,0.2); ;
    display: none;
    text-align: center;
    padding: 15px 15px;
    font-weight: 300;
    font-size: 12px;
}
.nav-fold {
    transform: translateY(-100%);
}


.nav-flexableIcon {
    width: 50px;
    height: 100%;
    position:absolute;
    right: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}




@media screen and (max-width : 1200px) {
    .nav-catgBox {
       
    }
    .nav-catg {
        min-width: 120px;
        font-size: 12px;
    }
    .nav-dropdown{
        font-size: 10px;
    }
    .nav-dropdown:hover {
        font-size: 10px;
        color: white;
    }
    
}
@media screen and (max-width : 992px) {
}   
@media screen and (max-width : 768px) {
     .nav-catgBox {
        display: none;
    }
    .nav-flexableIcon{
        display: flex;
    }
}  
@media screen and (max-width : 576px) {   
}
