

.overlay-content {
    width: 100%;
}
.overlay-content::after {
    content: "";
    display: block;
    clear: both;
} 

.overlay-cardBox {
    width: 50%;
    height: 400px;
    float: left;
    position: relative;
    
}
.overlay-card {
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}
.overlay-card img {
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    left: 50%;
    top : 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}


.overlay-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: all 0.8s;
    border: 0px solid white;
    padding: 20px;
    opacity: 0;
    color:white;
    font-size: 25px;
}

.overlay-cardBox:hover .overlay-overlay {
    visibility: visible;
    border: 50px solid white;
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

@media screen and (max-width : 1200px) {
    .overlay-cardBox {
        height: 300px;
    }
    .overlay-overlay{
        padding: 20px;
        font-size: 22px;
    }
    .overlay-cardBox:hover .overlay-overlay {
        transition: all 0.6s;
        border: 20px solid white;
    }
}
@media screen and (max-width : 992px) {
    .overlay-cardBox {
        height: 250px;
    }
    .overlay-overlay{
        padding: 20px;
        font-size: 20px;
    }
    .overlay-cardBox:hover .overlay-overlay {
        transition: all 0.6s;
        border: 20px solid white;
    }
    
}
@media screen and (max-width : 768px) {
    .overlay-cardBox {
        height: 200px;
    }
    .overlay-overlay{
        padding: 15px;
        font-size: 16px;
    }
    .overlay-cardBox:hover .overlay-overlay {
        transition: all 0.4s;
        border: 15px solid white;
    }
}
@media screen and (max-width : 576px) {
    .overlay-overlay{
        padding: 30px;
        font-size: 25px;
    }
    .overlay-cardBox:hover .overlay-overlay {
        transition: all 1s;
        border: 30px solid white;
    }
    .overlay-cardBox {
        width: 100%;
        height: 400px;
    }
}
