

.sb-wrap {
    position: fixed;
    width: 483px;
    right: 0;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(3px);
    z-index: 11;
    transition: all 0.8s;
    transform: translateX(100%);
    padding: 30px 45px;
}
.sb-open {
    transform: translateX(0%);
}
.sb-closeBtn{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    height: 70px;
    /* background: red; */
    font-size: 2rem;
}
.sb-contentBox {
    margin-top: 50px;
}
.sb-catgBox {
    width: 100%;
    color: white;
    height: 70px;
    /* background: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(126, 126, 126);
}

.sb-catgName {
    width: 90%;
    font-size: 1.3rem;
    /* background: blue; */
}
.sb-catgArrow {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    transition: all 0.6s;
    transform: rotate(180deg);
}
.selectArrow {
    transform: rotate(0deg);
}

.sb-catgContentBox {
    width: 100%;
    height: 300px;
    color: white;
    transition: all 0.6s;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}
.openCatg {
    visibility: visible;
    height: 200px;

}