

.sb-wrap {
    position: fixed;
    width: 483px;
    right: 0;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(3px);
    z-index: 11;
    transition: all 0.8s;
    transform: translateX(100%);
    padding: 30px 45px;
}
.sb-open {
    transform: translateX(0%);
}
.sb-closeBtn{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    height: 70px;
    /* background: red; */
    font-size: 2rem;
}
.sb-contentBox {
    margin-top: 50px;
}
.sb-catgBox {
    width: 100%;
    color: gray;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgb(126, 126, 126);
}

.sb-catgBox:hover {
    color: white;
}
.selectCatg {
    color:white;
}

.sb-catgName {
    width: 90%;
    font-size: 1.3rem;
    /* background: blue; */
}
.sb-catgArrow {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    transition: all 0.6s;
    color: gray;
    transform: rotate(180deg);
}
.selectArrow {
    transform: rotate(0deg);
    color: white;
    font-size: 1.8rem;
}

.sb-catgContentBox {
    width: 100%;
    color: white;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    border-bottom: 1px solid rgb(126, 126, 126);
    
}
.openCatg {
    visibility: visible;
    height: 100%;
}

.sb-catgContent {
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    /* background: red; */
    color: silver;
    font-size: 0.9rem;
}
.sb-catgContent span {
    cursor: pointer;
}
.sb-catgContent span:hover {
    color : white;
}

.sb-login {
    border-bottom: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.sb-loginIcon {
    position: relative;
    top : 3px;
}