

.sticky-firstWrap {
height: 2500px;
background: transparent;
position: relative;
}

.sticky-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -200;
}
.sticky-bgImg { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    color: white;
}

.img1 {
    background: url("https://i.esdrop.com/d/f/2DJRPYKvvz/BcCHw1vUa0.jpg");
    background-size: cover;

}
.img2 {
    background: url("https://i.esdrop.com/d/f/2DJRPYKvvz/SxfZonpsIU.jpg");
    background-size: cover;
}
.img3 {
    background: url("https://i.esdrop.com/d/f/2DJRPYKvvz/qf0Nbr6Gjk.jpg");
    background-size: cover;
}


.sticky-pointer {
    position: sticky;
}

.firstPointer {
    height: 1000px;
    width: 400px;
    padding-top: 150px;
    top: 150px;
    left: 200px;
    bottom: 0;
    color: white;
    float: left;
}


.sticky-header{
    font-size: 85px;
    font-weight: 400;
}
.sticky-content {
    font-size: 20px;
}

.sticky-noneBox {
    position: absolute;
    width: 60%;
    height: 2500px;
    padding-top: 200px;
    padding-right: 200px;
    /* background: blue; */
    right: 0;
    overflow: hidden;
}


.wordBox {
    color: rgba(128, 128, 128, 0.5);
    letter-spacing: -20px;
    position: relative;
}
.word { 
    /*반응형시 조절 해야 함*/
    font-size: 400px;
    font-weight: bold;
}
.firstWord {
    text-align: left;
}
.secondWord {
    text-align: right;
}
.thirdWord {
    text-align: left;
}

.spotlight {
    color : rgb(255, 255, 255) !important;
}

.E { 
    color: rgba(0, 128, 128, 0.671);
    position: relative;
    top: 50px;
}
.H {
    color: rgba(105, 90, 205, 0.671);
    position: relative;
    top: 20px;
}
.S {
    color: darkblue;
}


/*=====================================================*/
.sticky-secondWrap {
    height: 5200px;
}
.secondPointer {
    width: 100%;
    height: 100vh;
    background: rgb(15, 15, 15);
    top: 0;
    overflow: hidden;
}
.sticky-slideBox{
    width: fit-content;
    height: 60vh;
    padding-left: 10%;
    display: flex;
    flex-wrap: nowrap;

}

.sticky-slideContent{
    height: 100%;
    /* width: 1300px; */
    width: 70vw;
    max-width: 1300px;
    border-radius: 60px;
    margin-right: 35px;
    position: relative;
    overflow: hidden;
}
.sticky-slideContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s;
}
.sticky-slideContent:hover img{
    transform: scale(1.1);
}
.sticky-slideContent:hover .sticky-slideTextBox{
   color: white;
}
.sticky-secondTextBox{
    /* padding: 150px 0px 10px 10%; */
}

.subject-custom {
    color: white;
    padding: 70px 18% 0px 18%;
}


.sticky-secondHeader{
    font-size: 95px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-left: 10%;
}
.sticky-secondExplanation {
    font-size: 35px;
    color: gray;
    padding-left: 10%;
    margin-bottom: 10px;
}
.sticky-slideTextBox {
   position: absolute;
   left: 60%;
   top: 55%;
   z-index: 15;
   color: rgba(255, 255, 255, 0.418);
   font-size: 100px;
   font-weight: 500;
   transition: all 0.6s;
   /* background: red; */
}



@media screen and (max-width : 1700px){
   
}

@media screen and (max-width : 1200px) {
    .sticky-secondWrap {
        height: 3700px;
    }
}
@media screen and (max-width : 992px) {
    .sticky-secondWrap {
        height: 3300px;
    }
}
@media screen and (max-width : 768px) {
    .sticky-secondWrap {
        height: 3100px;
    }
    .sticky-slideTextBox{
        font-size: 60px;
    }
}
@media screen and (max-width : 576px) {
    /*첫 번째 스티키 이벤트*/
    .firstPointer {
        left: 0;
        padding-left: 30px;
        height: 700px;
        display: none;
    }
    .sticky-noneBox {
        width: 100%;
    }
    .sticky-header{
        font-size: 35px;
        font-weight: 400;
    }
    .sticky-content {
        font-size: 15px;
    }
    .wordBox {
        height: 33.333%;
    }
    .word {
        font-size: 450px;
    }
    /**/
    .E {
        right: 200px;
        top: 140px;
    }
    .H {
        position: absolute;
        top: 40px;
        left: 200px;
    }
    .E2 {
        position: absolute;
        left: 300px;
        top: 200px;
        z-index: -1;

    }
    /**/
    /*두 번째 스티키 이벤트*/
    .sticky-secondHeader{
        margin-top: 30px;
        font-size: 60px;
        font-weight: 500;
    }
    .sticky-secondExplanation {
        font-size: 25px;
    }
     .sticky-secondWrap {
        height: 2900px;
    }
    .sticky-slideContent{
        width: calc(100vw - 100px);
        border-radius: 40px;
    }
    .sticky-slideTextBox{
        top : 70%;
        font-size: 35px;
    }
}